<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpsservice">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GPSMovementService"></activity>
        <activity android:name=".GPSMethods"></activity>
        <activity android:name=".GPS_Example"></activity>
        <activity android:name=".GPS_Example2"></activity>
        <activity android:name=".GPS_Movement_Service"></activity>
        <service
            android:name=".GPS_Movement_Service"
            android:enabled="true"
            android:stopWithTask="false"><!-- 사용자가 강제로 서비스를 종료하더라도 자동으로 서비스 다시 시작하기-->
        </service>
    </application>

</manifest>